{% if tickets %}
	<table class="table table-hover">
		<tr>
			<th>Créé à</th>
			<th>Par</th>
			<th>Commentaire</th>
			<th>Actions</th>
		</tr>
	{% for ticket in tickets %}

		 
	{% set tr_class = "" %}
		{% if ticket.level == 1 %}
		{%	set tr_class = "danger" %}
		{% elseif ticket.level == 2 %}
		{%	set tr_class = "warning" %}
		{% endif %}
		

	    <tr class="level_{{ ticket.level }} {{tr_class}} ticket_tr">
	    	<td>{{ticket.dateCreated|date("H:i:s")}}</td>
	    	<td>{{ ticket.student|capitalize }}</td>
	    	<td>{{ticket.note}}</td>
	    	<td>
	        {% if app.user.username == ticket.student or is_granted('ROLE_ADMIN') %}
	        <a class="resolve_btn btn btn-info btn-xs" data-ticket_id="{{ticket.id}}" href="{{ url('wf3_ticket_mark_as_resolve', {'id' : ticket.id}) }}">OK !</a>
	        {% endif %}
	        </td>
	    </tr>
	{% endfor %}
	</table>
{% else %}
	<p>Aucune demande en cours.</p>
{% endif %}