{% extends "::base.html.twig" %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{% block body %}
    Bonjour {{app.user.username}} !

    <h3>File d'attente :</h3>
    <div id="current_tickets">
        {% render(url('wf3_ticket_current_ticket')) %}
    </div>

    <h3>Nouvelle demande :</h3>
    {{ form(form, {"attr": {"novalidate": "novalidate", "id":"wf3_ticketbundle_ticket"}}) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

    function updateTickets(){
        $.ajax({
            url: "{{ url('wf3_ticket_current_ticket') }}",
            success: function(response){
                $("#current_tickets").html(response);
            }
        });
    }

    $("body").on("click", "a.resolve_btn", function(e){
        e.preventDefault();
        var href = $(this).attr("href");
        $.ajax({
            url: href,
            success: function(response){
                updateTickets();
            }
        });
    });

    window.setInterval(updateTickets, 3000);

</script>
{% endblock %}