{% extends "::base.html.twig" %}

{% form_theme form 'Wf3TicketBundle:Form:fields.html.twig' %}

{% block body %}
<div class="row">
    Bonjour {{app.user.username|capitalize}} ! 
    <a href="{{ path('logout') }}">Déconnexion</a>
</div>
<div class="row">
    <h4>File d'attente :</h4>
    <div id="current_tickets">
        {% render(url('wf3_ticket_current_ticket')) %}
    </div>
</div>
<div class="row">
    <h4>Nouvelle demande :</h4>
    {{ form(form, {"attr": {
        "novalidate": "novalidate", 
        "id":"wf3_ticketbundle_ticket"
        }
    }) }}
 </div>   
 <div class="row">
    <span id="resolved_count">{% render(url('wf3_ticket_count_resolved')) %}</span>
 </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
//utilisé dans main.js
var updateTicketsUrl = "{{ url('wf3_ticket_current_ticket') }}";
var countResolvedUrl = "{{ url('wf3_ticket_count_resolved') }}";
</script>
<script src="{{asset('js/main.js')}}"></script>
{% endblock %}