{% extends "::base.html.twig" %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{% block body %}
    Bonjour {{app.user.username}} !

    <h3>File d'attente :</h3>
    <div id="current_tickets">
        {% render(url('wf3_ticket_current_ticket')) %}
    </div>

    <h3>Nouvelle demande :</h3>
    {{ form(form, {"attr": {"novalidate": "novalidate", "id":"wf3_ticketbundle_ticket"}}) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
//utilisé dans main.js
var updateTicketsUrl = "{{ url('wf3_ticket_current_ticket') }}";
</script>
<script src="{{asset('js/main.js')}}"></script>
{% endblock %}